.button

{

	font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif;

	font-size: 14px;

	color: black;

	background-color:#B8B47E;

	overflow: visible; 

	cursor: pointer; 

	text-decoration: none;

	border: 1px solid #CACACA;

	position: relative; 

	line-height: 1.11; 

	margin-bottom: 3px;

	display:block;

	width:250px;

	height: 20px;

	text-align:center;	

	padding:4px;	

	

	/* Border Radius */

	-webkit-border-radius: 19px;

	-moz-border-radius: 19px;

	border-radius: 19px;

}



.button:hover

{

	background-color:#FFFFFF;

	-moz-box-shadow: 0 2px 6px #CED8B1;

	-webkit-box-shadow: 0 2px 6px #CED8B1;

}



#reg-button

{

	position: absolute;

	left: 50%;

	width: 250px;

	margin-left: -125px;

}



/*Shaklee Button*/

#shaklee{ height:105px!important; background-color:#629B3B; }

#shaklee p{ 

	padding:5px;

	margin-top:0px; 

	color:#FFFFFF; 

	text-shadow:5px 5px 5px #383838; 

}